@import "scss/theme/leuffen";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";


@import "bootstrap/scss/reboot";
@import "bootstrap/scss/helpers";

leu-content {
  height: 1500px;
  display: block;
  visibility: hidden;
}

.blend.loading {
  opacity: 0;
}
.blend {
  opacity: 1;
  transition: opacity 500ms;
}
